<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.konkuk.ottae">

    <application
        android:allowBackup="true"
        android:label="KU-Bus-Facility-App"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KUBusFacilityApp">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".bus.BusCategoryActivity"/>
        <activity android:name=".bus.BusArrivalActivity"/>

        <activity android:name=".facility.FacilityCategoryActivity"/>
        <activity android:name=".facility.FacilityListActivity"/>

        <activity android:name=".favorite.FavoriteListActivity"/>

    </application>

</manifest>
